                                  // MIXINS
@mixin text{
  font-family:'Open Sans', sans-serif;
  color:white;
  font-weight:400;
}

                            // SECTION ONE STYLES
body{
  overflow-x:hidden;
}
a{
  text-decoration:none;
}
.background{
  position:absolute;
  width:100%;
}
.main{
height:67*1.1vw;
width:100%;
header{
  position:relative;
  width:100%;
  height:9vw;
  border-bottom: solid grey 2px;
  img{
    display:block;
    width:20.5%;
    height:100%;
    float:left;
    margin:auto 2%;
    }
  nav ul{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    float:right;
    margin-right:10px;
    height:60px;
    width:60%;
    li{
      &:hover{
        color:00a5d6;
      }
      @include text;
      font-size:12px;
      list-style-type:none;
      margin:auto 5%;
      cursor:pointer;
      transition:all ease-in 0.1s;
      }
    }
  }
  .section1Image{
    position:relative;
    margin-top:4em;
    left:50%;
    transform:translateX(-50%);
    z-index:1;
    width:4em;
  }
  h1{
      position:relative;
      z-index:1;
      text-align:center;
      @include text;
      font-size:2.2em;
      font-weight:400;
  }
  h3{
    margin-top:10vw;
    font-size:0.8em;
    position:relative;
    @include text;
    text-align:center;
  }
  .downwardFacingArrow{
    width:5%;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    z-index:1;
  }
}
.about{
  float:left;
  width:50%;
  height:50%;
  background-color:#455a64;
  box-sizing:border-box;
  border: solid rgba(255,255,0,1) 5px;
  h2{
    @include text;
  }
}
.internships{
  background-image:url('C:\Users\Joe\Documents\MENAT\Coding\Github\Pendulum Initial Project\Given Media\mini-project\slider-image-1.jpg');
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  width:50%;
  box-sizing:border-box;
  border: solid rgba(255,255,0,1) 5px;
  float:right;
}
